.trash-image {
    width: 20px;
    padding: 0;
}

.table {
    width: 1300px;
    margin: auto;
    font-size: 15px;
}

tr {
    line-height: 30px;
}

.btn-main {
    margin-left: 578px;
    margin-top: 70px;
}
