ul {
    list-style-type: none
}

input {
    margin-left: 15px;
    font-size: 20px;
}

.no-border {
    border: 0;
    width: 300px;
}

.btn-light {
    width: 100px;
    margin: 20px 15px 35px 11px;
}

.input {
    width: 600px;
    margin-left: 0;
    margin-top: 7px;
}

.btn-main {
    margin-left: 567px;
    margin-top: 70px;
    width: 180px;
}