ul {
    list-style-type: none
}

input {
    margin-left: 15px;
}

.no-border {
    border: 0;
    width: 240px;
}

.btn-light {
    width: 100px;
    margin: 20px 15px 35px 11px;
}

.input {
    width: 450px;
    margin-left: 0;
    margin-top: 7px;
}