ul {
    list-style-type: none
}

input {
    margin-left: 15px;
    font-size: 20px;
}

.no-border {
    border: 0;
    width: 300px;
}

.btn-dark {
    width: 130px;
    margin: 20px 15px 35px 11px;
}

.input {
    width: 600px;
    margin-left: 0;
    margin-top: 7px;
}

.btn-main {
    margin-left: 567px;
    margin-top: 70px;
    width: 180px;
}

.border {
    margin-top: 40px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    right: 0;
    margin-top: 40px;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.plus-button {
    width: 40px;
    float: right;
}

.inactive {
    pointer-events: none;
    cursor: default;
}

.input-question {
    margin-left: 26px;
}


.no-background {
    border: none;
    background-color: transparent;
    outline: none;
    margin-left: 500px;
}

.no-background img {
    width: 30px;
    padding: 0;
}