.search-image {
    display: block;
    margin: 0 auto;
    width: 30%;
}

.center {
    width: 281px;
    height: 200px;
    margin: auto;
    margin-top: 30px;
}

.text-lg-center {
    font-size: 20px;
}

.btn-main {
    margin-left: 61px;
    margin-top: -180px;
}