<div class="row">
    <div class="dropdown">
        <a class="inactive">
            <img class="plus-button" src="/images/plus.png" />
        </a>
        <div class="dropdown-content">
            <button type="submit" asp-action="AddQuestion" asp-route-type="closed">Closed question</button>
            <button type="submit" asp-action="AddQuestion" asp-route-type="openEnded">Open ended question</button>
        </div>
    </div>
</div>