@model iTechArt.SurveysSite.WebApp.ViewModels.SurveyQuestionViewModel
<div class="row">
    <label>@ViewBag.QuestionNumber. Question with single choice</label>
    <ul>
        <li>
            <input type="radio" disabled="disabled"/><span>Choice 1</span>
        </li>
        <li>
            <input type="radio" disabled="disabled"/><span>Choice 2</span>
        </li>
    </ul>
</div>
