<head>
    <title>Main page</title>
    <link rel="stylesheet" href="css/LayoutStyles.css"/>
</head>
<header>
    <a asp-controller="Home" asp-action="Index">Sign in</a>
</header>
@{
    @RenderBody()
}