@using iTechArt.SurveysSite.DomainModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> _signInManager

<ul class="navbar-nav">
    @if (_signInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <p class="nav-link text-dark" asp-controller="Home" asp-action="Index" title="Manage">Hello @User.Identity.Name!</p>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-controller="Home" asp-action="Index">
                <button type="submit" class="nav-link btn btn-link text-dark" asp-controller="SignIn" asp-action="Logout">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="SignIn" asp-action="Login">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Register" asp-action="Register">Register</a>
        </li>
    }
</ul>