@model iTechArt.SurveysSite.WebApp.ViewModels.SurveyViewModel
<div class="row">
    <label asp-for="Title"></label>
    <span><input class="input" type="text" asp-for="Title" /></span>
    <span asp-validation-for="Title"></span>
</div>