@model iTechArt.SurveysSite.WebApp.ViewModel.UserViewModel
@{
    ViewData["Title"] = "DisplayAll";
}

<div>
    @if (Model.Users.Count == 0)
    {
        <h1>No users yet</h1>
    }
    else
    {
        <ul>
            @foreach (var user in Model.Users)
            {
                <li>User id: @user.Id, Username: @user.FullName</li>
            }
        </ul>
    }
</div>