@using iTechArt.SurveysSite.DomainModel
@using iTechArt.SurveysSite.WebApp.ViewModels
@model iTechArt.SurveysSite.WebApp.ViewModels.SurveyViewModel
<div class="flex flex-row">
    <label asp-for="Title"></label>
    <span><input class="input input-question" type="text" asp-for="Title"/></span>
    <label asp-for="Id" hidden="hidden"></label>
    <input asp-for="Id" value="@Model.Id" hidden="hidden" />
</div>
<span asp-validation-for="Title"></span>
<div class="row">
    <div class="dropdown">
        <a class="inactive">
            <img class="plus-button" src="/images/plus.png" />
        </a>
        <div class="dropdown-content">
            <button class="btn btn-dark" type="button" onclick="addQuestion('closed')">Closed question</button>
            <button class="btn btn-dark" type="button" onclick="addQuestion('openEnded')">Open ended question</button>
        </div>
    </div>
</div>
<div class="border border-dark" id="questions">
    @for (var i = 0; i < Model.Questions.Count; i++)
    {
        @await Html.PartialAsync("_QuestionPartial", Model.Questions[i])
    }
</div>
<template id="closedTemplate">
    <fieldset>
        @{
            var closedQuestion = new SurveyQuestionViewModel
            {
                QuestionType = QuestionType.Closed
            };
            @await Html.PartialAsync("_QuestionPartial", closedQuestion)
        }
    </fieldset>
</template>
<template id="openEndedTemplate">
    <fieldset>
        @{
            var openEndedQuestion = new SurveyQuestionViewModel
            {
                QuestionType = QuestionType.OpenEnded
            };
            @await Html.PartialAsync("_QuestionPartial", openEndedQuestion)
        }
    </fieldset>
</template>
<span asp-validation-for="Questions"></span>
<div class="row flex">
    <button class="btn btn-dark center save-cancel" type="submit">Save</button>
    <a class="btn btn-dark center save-cancel" asp-controller="Survey" asp-action="Index" onclick="return confirm('Do you want to discard survey?');">Cancel</a>
</div>
<partial name="_ButtonToMainPagePartial" />
@if (!string.IsNullOrEmpty(ViewBag.Message))
{
    <script>
        window.onload = function() {
            alert("@ViewBag.Message");
        };
        window.setTimeout(function() {
                window.location.href = "/Survey/Index";
            },
            2000);
    </script>
}
<script>
    function addQuestion(type) {
        var template;
        if (type === 'closed') {
            template = document.querySelector('#closedTemplate');
        } else {
            template = document.querySelector('#openEndedTemplate');
        }
        var div = document.querySelector('#questions');
        var clone = template.content.cloneNode(true);
        div.appendChild(clone);
    }
</script>