@model iTechArt.SurveysSite.WebApp.ViewModels.SurveyViewModel
@{
    TempData["View"] = "Create";
}
<head>
    <link rel="stylesheet" href="/css/NewSurveyStyles.css"/>
</head>
<body>
    <form method="post" asp-action="Create">
        <partial name="_SurveyTitlePartial"/>
        <partial name="_AddQuestionPartial"/>
        <partial name="_CreateSurveyPartial"/>
    </form>
</body>