@using iTechArt.SurveysSite.WebApp.Controllers
@model iTechArt.SurveysSite.WebApp.ViewModels.SurveyViewModel
@{
    Model.Action = nameof(SurveyController.Create);
}
<head>
    <link rel="stylesheet" href="/css/NewSurveyStyles.css"/>
</head>
<body>
    <form method="post" asp-action="Create">
        <partial name="_SurveyManagement"/>
    </form>
</body>