@using iTechArt.SurveysSite.WebApp.Controllers
@model iTechArt.SurveysSite.WebApp.ViewModels.SurveyViewModel
@{
    Model.Action = nameof(SurveyController.Edit);
}
<head>
    <link rel="stylesheet" href="/css/NewSurveyStyles.css" />
</head>
<body>
    <partial name="_SurveyManagement" />
</body>