@using iTechArt.SurveysSite.DomainModel
@model iTechArt.SurveysSite.WebApp.ViewModels.SurveyViewModel
<head>
    <link rel="stylesheet" href="/css/NewSurveyStyles.css"/>
</head>
<body>
    <form method="post" asp-action="NewSurvey">
        <div class="row">
            <label asp-for="Name"></label>
            <span><input class="input" type="text" asp-for="Name" /></span>
        </div>
        <div class="row flex">
            <button class="btn btn-dark" type="submit">Save</button>
            <a class="btn btn-dark" asp-controller="Home" asp-action="Index">Cancel</a>
        </div>
        <div class="border border-dark">
            <div class="row">
                <input type="text" class="no-border" readonly="readonly" value="Question with single choice"/>
                <ul>
                    <li>
                        <input type="radio" name="Single" value="Choice 1" disabled="disabled"/>
                        <input type="text" class="no-border" value="Choice 1" readonly="readonly"/>
                    </li>
                    <li>
                        <input type="radio" name="Single" value="Choice 2" disabled="disabled"/>
                        <input type="text" class="no-border" value="Choice 2" readonly="readonly"/>
                    </li>
                </ul>
            </div>
            <div class="row">
                <input type="text" class="no-border" readonly="readonly" value="Question with multiple choices"/>
                <ul>
                    <li>
                        <input type="checkbox" value="Choice 1" disabled="disabled"/>
                        <input type="text" class="no-border" value="Choice 1" readonly="readonly"/>
                    </li>
                    <li>
                        <input type="checkbox" value="Choice 2" disabled="disabled"/>
                        <input type="text" class="no-border" value="Choice 2" readonly="readonly"/>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            @Html.ValidationSummary(false)
        </div>
        <partial name="_ButtonToMainPagePartial"/>
    </form>
</body>
@if (!string.IsNullOrEmpty(ViewBag.Message))
{
    <script>
        window.onload = function() {
            alert("@ViewBag.Message");
        };
    </script>
}