@model iTechArt.SurveysSite.WebApp.ViewModels.SurveyViewModel
<head>
    <link rel="stylesheet" href="/css/NewSurveyStyles.css" />
</head>
<body>
    <form method="post" asp-action="CreateNewSurvey">
        <div class="row">
            <label asp-for="Title"></label>
            <span><input class="input" type="text" asp-for="Title" value="@Model.Title"/></span>
        </div>
        <div class="border border-dark">
            <div class="row">
                <input type="text" class="no-border" readonly="readonly" value="Question with single choice" />
                <ul>
                    <li>
                        <input type="radio" name="Single" value="Choice 1" disabled="disabled" />
                        <input type="text" class="no-border" value="Choice 1" readonly="readonly" />
                    </li>
                    <li>
                        <input type="radio" name="Single" value="Choice 2" disabled="disabled" />
                        <input type="text" class="no-border" value="Choice 2" readonly="readonly" />
                    </li>
                </ul>
            </div>
            <div class="row">
                <input type="text" class="no-border" readonly="readonly" value="Question with multiple choices" />
                <ul>
                    <li>
                        <input type="checkbox" value="Choice 1" disabled="disabled" />
                        <input type="text" class="no-border" value="Choice 1" readonly="readonly" />
                    </li>
                    <li>
                        <input type="checkbox" value="Choice 2" disabled="disabled" />
                        <input type="text" class="no-border" value="Choice 2" readonly="readonly" />
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            @Html.ValidationSummary(false)
        </div>
        <div class="row flex">
            <button class="btn btn-dark center" type="submit">Save</button>
            <a class="btn btn-dark center" asp-controller="Home" asp-action="Index">Cancel</a>
        </div>
        <partial name="_ButtonToMainPagePartial" />
    </form>
</body>
@if (!string.IsNullOrEmpty(ViewBag.Message))
{
    <script>
        window.onload = function() {
            alert("@ViewBag.Message");
        };
        window.setTimeout(function() {
                window.location.href = "/Home/Index";
            },
            2000);
    </script>
}