@model iTechArt.SurveysSite.WebApp.ViewModels.RegisterViewModel
<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="/css/LoginAndRegistration.css" rel="stylesheet" />
</head>
<div class="simple-login-container">
    <h2>Register</h2>
    <form method="post" asp-controller="Register" asp-action="Register">
        <div class="row">
            <div class="col-md-12 form-group">
                <label asp-for="Login"></label>
                <input class="form-control" type="text" asp-for="Login" autocomplete="off"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 form-group">
                <label asp-for="Email"></label>
                <input class="form-control" type="email" asp-for="Email" autocomplete="off"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 form-group">
                <label asp-for="Password"></label>
                <input class="form-control" type="password" asp-for="Password" autocomplete="off" id="password"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 form-group">
                <label asp-for="ConfirmPassword"></label>
                <input class="form-control" type="password" asp-for="ConfirmPassword" autocomplete="off"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 form-group form-check">
                <input class="form-check-input" type="checkbox" id="showPass" value="" />
                <label class="form-check-label" for="showPass" id="labelPass">
                    Show password
                </label>
            </div>
        </div>
        <div class="row">
            @Html.ValidationSummary(false)
        </div>
        <div class="row">
            <div class="col-md-12 form-group">
                <input type="submit" class="btn btn-block btn-login" value="Sign up">
            </div>
        </div>
        <script>
            $(function () {

                $("#showPass").change(function () {
                    var checked = $(this).is(":checked");
                    if (checked) {
                        $("#password").attr("type", "text");
                    } else {
                        $("#password").attr("type", "password");
                    }
                });
            });
        </script>
        @if (!string.IsNullOrEmpty(ViewBag.Message))
        {
            <script>
            window.onload = function() {
                alert("@ViewBag.Message");
            };
            window.setTimeout(function() {
                    window.location.href = "/SignIn/Login";
                },
                2000);
            </script>
        }
    </form>
</div>