@model iTechArt.SurveysSite.WebApp.ViewModels.UserViewModel
<head>
    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="~/css/Login.css" rel="stylesheet" />
    <script src="lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="lib/jquery/jquery.min.js"></script>
</head>
<div class="wrapper fadeInDown">
    <div id="formContent">

        <form asp-controller="SignIn" asp-action="Login">
            <div asp-validation-summary="ModelOnly"></div>
            @Html.TextBoxFor(model => model.UserName, htmlAttributes: new {@class = "fadeIn second", id = "login", name = "login", type = "text", autocomplete = "off", placeholder = "login"})
            @Html.TextBoxFor(model => model.Password, htmlAttributes: new {@class = "fadeIn third", id = "password", name = "login", type = "password", autocomplete = "off", placeholder = "password"})
            <input type="submit" class="fadeIn fourth" value="Sign in">
        </form>
        @if (!string.IsNullOrEmpty(ViewBag.Message))
        {
            <script type="text/javascript">
                window.onload = function() {
                    alert("@ViewBag.Message");
                }
            </script>
        }
    </div>
</div>