@model iTechArt.SurveysSite.WebApp.ViewModels.UserViewModel
<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="/css/Login.css" rel="stylesheet"/>
</head>
<div class="simple-login-container">
    <h2>Login</h2>
    <form method="post" asp-controller="SignIn" asp-action="Login">
        <div class="row">
            <div class="col-md-12 form-group">
                @Html.TextBoxFor(model => model.UserName, new {type="text", @class="form-control", placeholder="Login", autocomplete="off"})
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 form-group">
                @Html.TextBoxFor(model => model.Password, new {type="password", @class="form-control", placeholder="Enter your password", autocomplete="off"})
            </div>
        </div>
        <div class="row">
            @Html.ValidationSummary(false)
        </div>
        <div class="row">
            <div class="col-md-12 form-group">
                <input type="submit" class="btn btn-block btn-login" value="Sign in">
            </div>
        </div>
    </form>
</div>