<head>
    <link rel="stylesheet" href="/css/PagesStyles.css" />
</head>
<div>
    <partial name="_RobotImage" />
    <div class="center">
        <p class="text-dark text-lg-center rounded border border-primary bg-warning">
            You would be able to seen surveys templates here in the future
        </p>
    </div>
    <partial name="_ButtonToMainPage" />
</div>
