@model iTechArt.SurveysSite.DomainModel.ButtonClicksCounter
@{
    ViewData["Title"] = "Home Page";
}
<head>
    <title>Button clicks page</title>

    <style>
        div {
            margin-top: 275px;
            text-align: center
        }
    </style>
</head>
<div>
    <form method="post">
        <p>Number of clicks: @Model.Clicks</p>
        <input type="submit" value="Click me" asp-action="ButtonClick"/>
    </form>
</div>