@{
    ViewData["Title"] = "Home Page";
}
<head>
    <title>Main page</title>
    <link rel="stylesheet" href="/css/MainPageStyles.css"/>
</head>
<body>
    <div>
        <img src="/images/iTechArt_logo.png" class="logo"/>
    </div>
</body>
