@{
    ViewData["Title"] = "Home Page";
}
<div>
    <button type="submit" name="CreateUser" onclick="location.href = '@Url.Action("CreateUser", "UserAction")'">Create new user</button>
    <button type="submit" style="margin-left: 100px" onclick="location.href='@Url.Action("DisplayAllUsers", "UserAction")'">Display all users</button>
</div>