@using iTechArt.SurveysSite.DomainModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> _signInManager

@{
    ViewData["Title"] = "Home Page";
}
<head>
    <title>Main page</title>
    <link rel="stylesheet" href="/css/MainPageStyles.css"/>
</head>
<body>
<div class="flex">
    @if (_signInManager.IsSignedIn(User))
    {
        <div class="button-menu">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a type="submit" class="btn btn-dark" asp-controller="Survey" asp-action="NewSurvey">New survey</a>
                </li>
                <li class="nav-item">
                    <a type="submit" class="btn btn-dark" asp-controller="Survey" asp-action="MySurveys">My surveys</a>
                </li>
                <li class="nav-item">
                    <a type="submit" class="btn btn-dark" asp-controller="SurveysTemplates" asp-action="Index">Surveys templates</a>
                </li>
                @if (User.IsInRole(RoleNames.AdminRole))
                {
                    <li class="nav-item">
                        <a type="submit" class="btn btn-dark" asp-controller="Users" asp-action="DisplayAllUsers">Users</a>
                    </li>
                }
            </ul>
        </div>
    }
    <img src="/images/iTechArt_logo.png" class="logo"/>
</div>
</body>
