@model iTechArt.SurveysSite.WebApp.ViewModel.ButtonClicksCounterViewModel
@{
    ViewData["Title"] = "Home Page";
}
<div>
    <button type="submit" name="CreateUser" onclick="location.href = '@Url.Action("CreateUser", "UserManagement")'">Create new user</button>
    <button type="submit" style="margin-left: 100px" onclick="location.href='@Url.Action("DisplayAllUsers", "UserManagement")'">Display all users</button>
</div>