@model iTechArt.SurveysSite.Repositories.ButtonClicksCounter
@{
    ViewData["Title"] = "Home Page";
}
<head>
    <style>
        div {
            margin-top: 275px;
            text-align: center
        }
    </style>
</head>
<div class="text-center">
    <p>Number of clicks: @Model.Clicks</p>
    <button type="submit" name="clickMeButton" onclick="location.href = '@Url.Action("ButtonClick")'">Click me</button>
</div>
