@model iTechArt.SurveysSite.Repositories.ButtonClicksCounter
@{
    ViewData["Title"] = "Home Page";
}
<head>
    <style>
        div {
            margin-top: 275px;
            text-align: center
        }
    </style>
</head>
<div class="text-center">
    <form method="post">
        <p>Number of clicks: @Model.Clicks</p>
        <input type="submit" value="Click me" asp-action="ButtonClick"/>
    </form>
    

</div>
