@{
    ViewData["Title"] = "Home Page";
}
<head>
    <style>
        div {
            margin-top: 275px;
            text-align: center
        }
    </style>
</head>
<div class="text-center">

    @using (Html.BeginForm("ButtonClick", "Home"))
    {
        <p>Number of clicks: @ViewData["clicks"]</p>
        <button type="submit" name="clickMeButton">Click me</button>
    }

</div>
