<head>
    <link rel="stylesheet" href="/css/PagesStyles.css"/>
</head>
<div>
    <partial name="_PagePartial"/>
    <div class="center">
        <p class="text-dark text-lg-center rounded border border-primary bg-warning">
            Your surveys would be located here. You have no surveys currently
        </p>
    </div>
</div>