<head>
    <link rel="stylesheet" href="/css/PagesStyles.css" />
</head>
<div>
    <partial name="_PagePartial" />
    <div class="center">
        <p class="text-dark text-lg-center rounded border border-primary bg-warning">
            In the future you will be able to create a new survey here. Wait for the next version
        </p>
    </div>
</div>
